@page "/products-catalog"
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Trivial Brick - Products</PageTitle>

@if (products == null)
{
    <p>Loading ...</p>
}
else
{
    @if (IsAdmin)
    {
        <div class="actions-container">
            <button class="btn btn-primary" @onclick="ToggleCreateProductModal">
                Add Product
            </button>
        </div>
    }

    <div class="products-container">
        @foreach (var prod in products)
        {
            <div @onclick="() => ShowBuyProductModal(prod)">
                <ProductCard Name="@prod.Name" Price="@prod.Price" Image="@prod.Image" HaveStock="@true" />
            </div>
        }
    </div>
}

@if (showCreateProductModal)
{
    <CreateProductModal ToggleModal="ToggleCreateProductModal" />
}

<ProductModal 
    @ref="productModal" 
    Name="@selectedProduct?.Name" 
    ProductId="@selectedProductId" 
    Price="@selectedProductPrice" 
    Image="@selectedProduct?.Image" 
    HaveStock="@true" 
    OnClose="OnModalClose" 
/>

@code {
    private List<Product>? products;
    private bool showCreateProductModal = false;
    private bool IsAdmin { get; set; }
    private bool isInitialized = false;
    private Product? selectedProduct;
    private int selectedProductId => selectedProduct?.Model ?? 0;
    private decimal selectedProductPrice => selectedProduct?.Price ?? 0;
    private ProductModal? productModal;

    protected override async Task OnInitializedAsync()
    {
        products = await _catalogs.GetAllProducts();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !isInitialized)
        {
            var userSession = await ((AuthStateProvider)AuthStateProvider).GetUserSession();
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();
            bool IsAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
            if (!IsAuthenticated)
            {
                NavigationManager.NavigateTo("/");
            }
            else
            {
            bool IsAdmin = userSession?.IsAdmin ?? false;
            }

            isInitialized = true;
            StateHasChanged();
        }
    }

    private void ToggleCreateProductModal()
    {
        showCreateProductModal = !showCreateProductModal;
    }

    private void ShowBuyProductModal(Product product)
    {
        selectedProduct = product;
        productModal?.ShowModal();
    }

    private void OnModalClose()
    {
        selectedProduct = null;
    }
}